# Django settings
DEBUG=False
SECRET_KEY=changez_moi_en_production
ALLOWED_HOSTS=localhost,127.0.0.1,votre-domaine.railway.app

# Database settings
DATABASE_URL=postgres://username:password@localhost:5432/db_name

# Cloudinary settings
CLOUDINARY_CLOUD_NAME=dmcaguchx
CLOUDINARY_API_KEY=votre_api_key
CLOUDINARY_API_SECRET=votre_api_secret

# PostgreSQL (pour docker-compose)
POSTGRES_PASSWORD=postgres
POSTGRES_USER=postgres
POSTGRES_DB=jaelleshop

# Build settings
NODE_OPTIONS=--max_old_space_size=512
PIP_NO_CACHE_DIR=true
PYTHONUNBUFFERED=1 